body {
    background: lightblue;
  }
  
  .titleloc {
    color:#3d3241;
  }
  
  #header {
    text-align: center;
    background: blue;
    color: lightblue;
  }
  
  .card {
    color:black;
  }
  
  #footer {
    background: blue;
    text-align: right;
  }